.Navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #eee;
  width: 100%;
}

.Navigation button {
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 10px;
}

.Navigation__active {
  background: hotpink;
}

.Navigation__inactive {
  background: #eee;
}
