.HistoryEntry {
  background: #eee;
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
}

.HistoryEntry h2 {
  line-height: 0.8rem;
}

.HistoryEntry__scores {
  display: flex;
  justify-content: space-between;
}
